body {
  margin:0;
  padding:0;
  overflow: hidden;
  background: #000000 url(home/Immagini/wallpapers-computers.jpg) no-repeat fixed center    ; background-size: 100%;
   /* background: #FFF8DD url(wallpaper/foglie02.jpg) no-repeat fixed center 0px; */
  /* background: #FFFFFF url(wallpaper/riciclo01.png) no-repeat fixed center; */
  /* background: #000000 url(wallpaper/puzle.png) no-repeat fixed center; */
  /* background: #000000 url(wallpaper/puzle_2.gif) no-repeat fixed center; */
  /* background: #000000 url(wallpaper/Puzle3_1.png) no-repeat fixed center; */
  /* background: #72c406 url(wallpaper/linguaggi-programmazione.jpg) no-repeat fixed center; */
  /* background: #72c406 url(wallpaper/foglie02.png) no-repeat fixed center; */
  /* background: #72c406 url(wallpaper/mele.jpg) no-repeat fixed center; */
/* background: #72c406 url(wallpaper/customsoftwaredevelopment.png) no-repeat fixed center; */
  /* background: #FFFFFF url(wallpaper/customsoftwaredevelopment.png) no-repeat fixed center; */
/*   background: #FFFFFF url(wallpaper/softwaredevel.jpg) no-repeat fixed center;  */
}         

#dock {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:30px;
/*  background:transparent url(dock-bg.gif) repeat-x 0 0; */
  background:transparent url(taskbar-start-panel-bg.gif) repeat-x 0 0;
  z-index: 100000;	
}       

.dock_icon {
  float:left;
  width:102px;
  height:21px;
  margin-top:3px;
/*  background: url(button-bg.gif); */
    background: url(taskbar-start-panel-bg.gif);
  text-align:center;
  font-size: 14px;
/*  color: #000; */
  color: #FFFFFF;
  line-height: 22px;    
  margin-right:10px;
  margin-left:10px;
  border:2px solid #FAFF66;
}       

#language {       
  float:right; 
  color: #FFFFFF;
  margin-top:3px;
  margin-right:15px;
}

#theme {       
  float:right; 
  color: #FFFFFF;
  margin-top:3px;
  margin-right:15px;
}

#component {       
  float:left; 
  margin-top:3px;
  margin-right:15px;
  margin-bottom:10px;
}

input, textarea { /* Stili per il campo di testo e per la textarea */
/*     background: #1C1C1C; */ /* Colore di sfondo */
/*    border: 1px solid #323232; */ /* Bordo */
/*    color: #fff; */ /* Colore del testo */
/*     line-height: 20px; */ /* Altezza di riga */
/*    width: 300px;  Larghezza --- era remmata da prima */
/*    padding: 0 3px; */ /* Padding */
}

#workarea {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:30px;
/*  background:transparent url(dock-bg.gif) repeat-x 0 0; */
  z-index: 100000;	
}       

.workarea_icon {
  float:left;
  width:102px;
  height:21px;
  margin-top:3px;
/*  background: url(button-bg.gif); */
    background: url(taskbar-start-panel-blue.gif);
  text-align:center;
  font-size: 14px;
/*  color: #000; */
  color: #FFFFFF;
  line-height: 22px;    
  margin-right:10px;
  margin-left:10px;
  border:2px solid #FAFF66;
}       


